<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Magazyn App</title>
</head>
<body>
    <header>
        <h1>Zarządzanie Magazynem</h1>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert {{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
    <main>

        <section class="status">
            <h2>Aktualne Saldo: <span class="money">{{ saldo }} zł</span></h2>
            <h3>Stan Magazynu:</h3>
            <ul>
                {% for produkt, dane in magazyn.items() %}
                <li><strong>{{ produkt }}</strong>: {{ dane.ilosc }} szt. ({{ dane.cena }} zł/szt)</li>
                {% endfor %}
            </ul>
        </section>

        <section class="forms">
            <div class="card">
                <h3>Zakup</h3>
                <form action="/zakup" method="post">
                    <input type="text" name="nazwa" placeholder="Nazwa produktu" required>
                    <input type="number" step="0.01" name="cena" placeholder="Cena" required>
                    <input type="number" name="ilosc" placeholder="Liczba sztuk" required>
                    <button type="submit">Dodaj do magazynu</button>
                </form>
            </div>

            <div class="card">
                <h3>Sprzedaż</h3>
                <form action="/sprzedaz" method="post">
                    <input type="text" name="nazwa" placeholder="Nazwa produktu" required>
                    <input type="number" step="0.01" name="cena" placeholder="Cena" required>
                    <input type="number" name="ilosc" placeholder="Liczba sztuk" required>
                    <button type="submit" class="btn-sell">Sprzedaj</button>
                </form>
            </div>

            <div class="card">
                <h3>Zmiana Salda</h3>
                <form action="/saldo" method="post">
                    <input type="text" name="komentarz" placeholder="Komentarz" required>
                    <input type="number" step="0.01" name="wartosc" placeholder="Wartość (+/-)" required>
                    <button type="submit" class="btn-saldo">Zmień saldo</button>
                </form>
            </div>
            <br><br><hr>
            <section class="navigation-card">
    <div class="card center">
        <h3>Archiwum operacji</h3>
        <p>Kliknij poniżej, aby przejrzeć pełny dziennik zdarzeń, zakupów i sprzedaży.</p>
        <a href="/historia/" class="btn-history">Pokaż historię</a>
    </div>
        </section>
        </section>
    </main>
</body>
</html>