<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Magazyn Web</title>
</head>
<body>
    <header>
        <div class="header-content">
            <a href="/" class="logo-wrapper">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='Pati.jpg') }}" alt="Logo Magazynu" class="main-logo"></div>
        <h1 class="header-title">Smart Storage Solutions</h1>
        </a>
            <nav>
            </nav>
    </div>
    </header>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for cat, msg in messages %}
              <div class="alert {{ cat }}">{{ msg }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <section class="status">
            <h2>Saldo: {{ "%.2f"|format(saldo) }} zł</h2>
            <h3>Stan Magazynu:</h3>
            <ul>
    {% for produkt in magazyn %}
    <li>
        <strong>{{ produkt.nazwa }}</strong>:
        {{ produkt.ilosc }} szt. (Cena: {{ produkt.cena }} zł)
    </li>
    {% endfor %}
</ul>
        </section>

        <div class="forms-grid">
            <div class="card">
                <h3>Zakup</h3>
                <form action="/zakup" method="post">
                    <input type="text" name="nazwa" placeholder="Nazwa produktu" required>
                    <input type="number" step="0.01" name="cena" placeholder="Cena jedn." required>
                    <input type="number" name="ilosc" placeholder="Ilość" required>
                    <button type="submit">Kup</button>
                </form>
            </div>



            <div class="card">
                <h3>Sprzedaż</h3>
                <form action="/sprzedaz" method="post">
                    <input type="text" name="nazwa" placeholder="Nazwa produktu" required>
                    <input type="number" name="ilosc" placeholder="Ilość" required>
                    <button type="submit" class="btn-sell">Sprzedaj</button>
                </form>
            </div>

            <div class="card">
                <h3>Zmiana Salda</h3>
                <form action="/saldo" method="post">
                    <input type="number" step="0.01" name="kwota" placeholder="Wartość zmiany" required>
                    <button type="submit" class="btn-balance">Zmień</button>
                </form>
                <div class="history-section">
                <div class="card history-card">
                    <h3>Dziennik zdarzeń</h3>
                    <p>Przeglądaj pełną historię wszystkich operacji finansowych i magazynowych.</p>
                    <a href="/historia/" class="btn-full-history">Pokaż Historię</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>